# Intellij IDEA
.idea/
out/
*.ipr
*.iml
*.iws

# Eclipse
.classpath
.project
.settings/
.metadata/
.factorypath

# MacOS
**/.DS_Store

# Visual Studio Code
.vscode/

# Maven
target/
*.ser
*.ec
dependency-reduced-pom.xml
.flattened-pom.xml

# C# 
obj/

# Rust
rust/target
rust/Cargo.lock
rust/src/pb/*.rs