name: C# Build
on:
  pull_request:
    types: [opened, reopened, synchronize]
    paths:
      - 'csharp/**'
  push:
    branches:
      - master
    paths:
      - 'csharp/**'  
jobs:
  c_sharp:
    name: "C# (ubuntu-18.04)"
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: |
            5.0.x
            6.0.x
      - name: Build artifacts
        working-directory: ./csharp
        run: |
          dotnet --version
          dotnet build
